/* Google Fonts - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f7f5;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #f3f8f6;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(22, 34, 29, 0.5);
    position: relative;
}
.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #56dba4;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #eef3f1;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name {
    font-size: 25px;
    font-weight: 800;
   
}
.text-data .Work {
    font-size: 22px;
    font-weight: 600;
}
.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.media-buttons .link{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    height: 34px; 
    width: 30px;
    border-radius: 90%;
    margin: 0 15px;
    background-color: #f3f8f6;
    text-decoration: none;
}
.profile-card .buttons {
display: flex;
align-items: center;
margin-top: 25px;
}
.buttons .button{
    color: #fff;
     font-size: 19px;
     font-weight: 800px;
    border: none;
    border-radius: 15px;
    margin: 0 18px;
    padding: 15px 2;
    background-color: #56dba4;
    cursor: pointer;
    transition: all 0.9 ease;
}
.buttons .button:hover{
    background-color: #17da68;
}
.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #56dba4;
}
.data i {
    font-size: 20px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}